<div style="display: block;height:100%;">
    <app-navigation></app-navigation>
    <div class="left-sidebar">
        <div class="left-sidebar__wrapper">
            <div class="left-sidebar__spacer"></div>
            <div class="left-sidebar__content">
                <div style="display:flex;justify-content:flex-start;align-items:center;padding:20px;">
                    <img src="https://picsum.photos/40/40" class="rounded-circle" />
                    <span style="color:#fff;font-size:12px;margin-left:10px">Thomas Müller</span>
                </div>

                <app-sidebar-menu></app-sidebar-menu>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="content--title">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Library</li>
                </ol>
            </nav>
            <hr>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>