<div class="content--item">
    <i class="fas fa-3x fa-euro-sign"></i>
    <span>Account</span>
</div>

<div class="content--item">
    <i class="fas fa-3x fa-users"></i>
    <span>Human Resources</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-dolly"></i>
    <span>Transport</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-anchor"></i>
    <span>Shipping</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-book"></i>
    <span>Analysis</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-glasses"></i>
    <span>Quality</span>
</div>

<div class="content--item">
    <i class="fas fa-3x fa-chart-pie"></i>
    <span>Planing</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-project-diagram"></i>
    <span>Products</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-dolly-flatbed"></i>
    <span>Services</span>
</div>
<div class="content--item">
    <i class="fas fa-3x fa-user-cog"></i>
    <span>Global Settings</span>
</div>