<ul>
    <li class="selected"><span>Dashboard </span><i class="fas fa-chevron-right"></i></li>
    <li><span>Company </span><i class="fas fa-chevron-right"></i></li>
    <li><span>Manage Users</span> <i class="fas fa-chevron-right"></i></li>
    <li><span>Sales</span><i class="fas fa-chevron-right"></i></li>
    <li><span>Transactions</span><i class="fas fa-chevron-right"></i></li>
    <li><span>Financial Statements</span> <i class="fas fa-chevron-right"></i></li>
    <li><span>Purchases</span> <i class="fas fa-chevron-right"></i></li>
    <li><span>Products</span> <i class="fas fa-chevron-right"></i></li>
    <li><span>Services </span><i class="fas fa-chevron-right"></i></li>
</ul>