<nav style="display:flex;height:70px;width:100%;justify-conter:space-between;align-items:center; flex-direction:row;flex-wrap:wrap;background:#ffffff;box-shadow:0px 0.3em 10px rgba(0, 0, 0, 0.1);border-bottom:3px solid #dcdce5;position:fixed;z-index:1024;">
    <div style="display:flex;justify-content:flex-start;align-items:center;padding-left:20px">
        <i class="fas fa-cogs fa-2x" style="color:#3F5364;margin-right:10px;"></i>
        <span style="font-size:36px;color:#9F9F9E;font-weight:500"><strong style="color:#3F5364">D</strong>oehle</span>
    </div>
    <!-- User Fields -->
    <div class="c-navigation-user-field">
        <div class="c-navigation-user-field__itemset">

            <div class="c-navigation-user-field__itemset-item"><i class="far fa-bell"></i></div>
            <div class="c-navigation-user-field__itemset-item c-navigation-user-field__itemset-item--darkblue" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="selected" routerLink="/global-settings"><i class="fas fa-user-cog"></i></div>
            <div class="c-navigation-user-field__itemset-item c-navigation-user-field__itemset-item--blue" (click)="logout()"><i class="fas fa-sign-out-alt"></i></div>

        </div>
    </div>

</nav>