<div class="c-login__container">
    <div class="c-login__information">
        <div style="position:absolute;top:50%;transform:translateY(-50%)">
            <div class="c-login__information-logo">
                <i class="fas fa-cogs fa-3x"></i>
                <h1><strong>D</strong>oehle</h1>
            </div>
            <div class="c-login__information-text">
                <h2>Enterprise Resource Planing</h2>
                <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum rerum natus, illo qui animi dolorum ipsa officia saepe architecto accusamus repellendus unde iure sint nam ut esse assumenda aperiam.
          </span>
            </div>
        </div>
    </div>
    <div class="c-login__forms">
        <router-outlet></router-outlet>
    </div>
</div>